@import "../../index.css";

.wrapperStyles {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

.carouselWrapper {
  width: var(--s-320);
}

.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.prev,
.next {
  width: var(--s-8);
  height: var(--s-8);
  border-radius: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  z-index: 100;
}

.prev {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23000" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"></path></svg>');
}

.next {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23000" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg>');
}

.skillsWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.skillWrapper {
  text-align: left;
  font-size: var(--text-2xl);
  font-family: var(--font-base);
  margin-left: var(--s-6);
  flex: 1;
}

.iconWrapper {
  width: var(--s-14);
  height: var(--s-14);
  margin-bottom: var(--s-4);
}

.iconStyles {
  width: 100%;
  height: 100%;
}
