@import "../../index.css";

.wrapperStyles {
  font-family: var(--font-base);
  background-color: var(--gray-400);
  width: 100%;
  height: 100%;
  margin-bottom: var(--s-20);

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--s-230);
  }
}

.contentStyles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--s-7);
  width: 100%;

  @media (min-width: 768px) {
    width: 60%;
    padding-left: var(--s-40);
  }
}

.titleStyles {
  font-size: var(--text-3xl);
  font-weight: var(--font-bolder);
  margin-bottom: var(--s-3);
  padding-left: var(--s-5);

  @media (min-width: 768px) {
    padding-left: 0;
    font-size: var(--text-7xl);
    margin-bottom: var(--s-8);
  }
}

.subTitleStyles {
  font-size: var(--text-lg);
  margin-bottom: var(--s-5);
  padding-left: var(--s-5);

  @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: var(--s-8);
    font-size: var(--text-3xl);
  }
}

.buttonWrapper {
  padding-left: var(--s-5);
  padding-bottom: var(--s-5);

  @media (min-width: 768px) {
    padding-left: 0;
    padding-bottom: 0;
  }
}

.contactButton {
  font-size: var(--text-lg);
  font-weight: var(--font-light);
  padding: var(--s-4) var(--s-7);
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0;

  @media (min-width: 1024px) {
    margin-right: var(--s-20);
    width: 40%;
  }

  @media (min-width: 1280px) {
    margin-right: var(--s-40);
    width: 40%;
  }
}

.imageWrapper {
  width: 100%;
  height: var(--s-100);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  @media (min-width: 768px) {
    height: var(--s-165);
  }
}

.headerImage {
  width: auto;
  height: 100%;
  object-fit: contain;
}
