@import "../../index.css";

.navbarContainer {
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--s-7);
  padding-bottom: var(--s-4);
}

.leftSideStyles {
  flex: 1;
  width: 100%;
}

.rightSideStyles {
  display: flex;
  justify-content: flex-end;
  max-width: var(--s-6);
  flex: 1;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: var(--s-2);
}

.logoStyles {
  height: var(--s-8);
  width: var(--s-8);
}

.iconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nameWrapper {
  font-family: var(--font-base);
  font-weight: var(--font-medium);
  font-size: var(--text-xl);
}

.titleWrapper {
  font-family: var(--font-base);
  font-size: var(--text-xs);
  color: var(--gray-800);
  font-weight: var(--font-light);
}

.emailWrapper {
  text-align: left;
}

.contactTitleStyles {
  font-family: var(--font-base);
  font-size: var(--text-sm);
  color: var(--gray-600);
  font-weight: var(--font-extra-light);
}
