@import "../../index.css";

.containerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-400);
  margin-bottom: var(--s-10);
  padding-top: var(--s-24);
  padding-bottom: var(--s-24);
}

.wrapperStyles {
  width: 62%;
}

.carouselContainer {
  background-color: var(--gray-400);
  padding: 60px 0px 40px 0;
  margin-left: -60px;
  margin-bottom: var(--s-10);
}

.carouselStyles {
  display: block;
  width: 100%;
}

.bodyStyles {
  display: block;
  width: 88%;
}

.divider {
  background-color: var(--gray-900);
  height: 1px;
  border: none;
}

.dividerTwo {
  background-color: var(--gray-500);
  height: 1px;
  margin-top: var(--s-10);
  border: none;
}

.titleStyles {
  display: flex;
  font-size: var(--text-6xl);
  font-family: var(--font-base);
  font-weight: var(--font-bolder);
  color: var(--gray-900);
  margin-bottom: var(--s-7);
}

.subtitleStyles {
  display: flex;
  font-size: var(--text-base);
  font-family: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--gray-700);
  margin-bottom: var(--s-3);
}

.serviceStyles {
  display: flex;
  font-size: var(--text-xl);
  font-family: var(--font-base);
  font-weight: var(--font-bold);
  color: var(--gray-800);
  margin-bottom: var(--s-3);
  margin-top: var(--s-7);
}
