@import "../../index.css";

.containerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-400);
  margin-bottom: var(--s-20);
  padding-top: var(--s-24);
  padding-bottom: var(--s-24);
}

.wrapperStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bodyStyles {
  display: block;
  width: 65%;
}

.titleStyles {
  display: flex;
  font-size: var(--text-6xl);
  font-family: var(--font-base);
  font-weight: var(--font-bolder);
  color: var(--gray-900);
  margin-bottom: var(--s-6);
}

.subtitleStyles {
  display: flex;
  font-size: var(--text-base);
  font-family: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--gray-700);
  margin-bottom: var(--s-3);
}

.divider {
  background-color: var(--gray-500);
  height: 1px;
  border: none;
}

.testimonialContainer {
  display: block;
  margin-top: var(--s-10);

  @media (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }
}

.testimonialWrapper {
  background-color: white;
  padding: var(--s-10);
  width: var(--s-100);
  margin-bottom: var(--s-10);
}

.testimonialBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--s-4);
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.04);
    text-decoration: underline;
  }
}

.testimonialName {
  display: flex;
  font-size: var(--text-lg);
  font-family: var(--font-base);
  font-weight: var(--font-medium);
  color: var(--gray-900);
  margin-bottom: var(--s-2);
}

.testimonialJonTitle {
  display: flex;
  font-size: var(--text-sm);
  font-family: var(--font-base);
  color: var(--gray-700);
  margin-bottom: var(--s-2);
}

.sectionImage {
  display: flex;
  overflow: hidden;
  width: var(--s-17);
  height: var(--s-17);
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.testimonialReferral {
  font-size: var(--text-sm);
  font-family: var(--font-base);
  color: var(--gray-600);
  font-style: italic;
}

.quoteIconStyles {
  display: flex;
  justify-content: flex-end;
  margin-right: var(--s-4);
  margin-left: auto;
  align-items: center;
}
