@import "../../index.css";

.containerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-400);
  margin-bottom: var(--s-10);
  padding-top: var(--s-24);
  padding-bottom: var(--s-24);
}

.wrapperStyles {
  display: block;
  width: 75%;
}

.bodyStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingStyles {
  margin-bottom: var(--s-20);
  width: 75%;
}

.titleStyles {
  font-size: var(--text-6xl);
  font-family: var(--font-base);
  font-weight: var(--font-bolder);
  color: var(--gray-900);
  margin-bottom: var(--s-5);
}

.subtitleStyles {
  font-size: var(--text-lg);
  font-family: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--gray-700);
  margin-bottom: var(--s-4);
}

.divider {
  background-color: var(--gray-600);
  height: 1px;
  border: none;
}

.sectionStyles {
  font-family: var(--font-base);
}

.subheadingStyles {
  font-size: var(--text-sm);
  font-family: var(--font-base);
  font-weight: var(--font-extra-light);
  color: var(--gray-900);
  margin-bottom: var(--s-5);
  margin-top: var(--s-4);
}

.contactStyles {
  font-size: var(--text-xl);
  font-family: var(--font-base);
  font-weight: var(--font-light);
  color: var(--gray-900);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
