.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  gap: var(--s-4);
}

.slide {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: var(--s-4);
  background-color: var(--green-900);
  border-radius: var(--s-2);
  margin-bottom: var(--s-6);

  @media (min-width: 768px) {
    flex: 1 1 48%;
    margin-left: var(--s-3);
  }

  @media (min-width: 1024px) {
    flex: 1 1 31%;
    max-width: 45%;
  }
}

.slide img,
.slide video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.titleStyles {
  margin-bottom: var(--s-3);
  color: white;
  font-family: var(--font-base);
  font-size: var(--text-lg);
  font-weight: bold;
  text-align: center;
}

.description {
  color: white;
  font-family: var(--font-base);
  font-size: var(--text-sm);
  text-align: left;
  margin-top: var(--s-2);
}

.buttonWrapper {
  display: flex;
  align-self: flex-start;
  margin-top: auto;
}

.buttonStyles {
  margin-top: var(--s-2);
  padding: var(--s-4) var(--s-5) var(--s-4) var(--s-5);
  background-color: var(--gray-900);
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: var(--s-2);

  &:hover {
    transform: scale(1.05);
  }
}

.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggleButton {
  background: none;
  border: none;
  color: var(--white);
  font-family: var(--font-base);
  font-size: var(--text-sm);
  cursor: pointer;
  margin-top: var(--s-2);
  padding: 0;
  text-decoration: underline;
  align-self: flex-start;
}
