@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes next-slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes back-slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.mediaWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 56.25%;
}

.controls {
  position: absolute;
  height: var(--s-8);
  width: var(--s-8);
  background-color: var(--green-900);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.controls.left {
  left: var(--s-3);

  @media (min-width: 768px) {
    left: var(--s-6);
  }
}

.controls.right {
  right: var(--s-3);

  @media (min-width: 768px) {
    right: var(--s-6);
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.slide video,
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.description {
  display: block;
  font-size: var(--text-sm);
  font-family: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--gray-900);
  margin-bottom: var(--s-3);
  margin-top: var(--s-4);
  text-align: left;
  width: 100%;

  @media (min-width: 1280px) {
    color: white;
    font-size: var(--text-base);
  }
}

.description.next-enter {
  animation: next-slide-in 0.6s forwards;
}

.description.back-enter {
  animation: back-slide-in 0.6s forwards;
}

.arrowBack,
.arrowNext {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 5px;
}

.arrowBack {
  transform: rotate(135deg);
}

.arrowNext {
  transform: rotate(-45deg);
}
