.carouselWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.skillsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.skillsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.controlsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--s-5);
}

.prev,
.next {
  width: var(--s-8);
  height: var(--s-8);
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0 var(--s-4);
}

.prev {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23000" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"></path></svg>');
}

.next {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23000" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg>');
}

.videoStyles,
.imageStyles {
  display: block;
  width: 740px;
  max-height: 450px;
  object-fit: cover;
}

.descriptionStyles {
  display: block;
  font-size: var(--text-base);
  font-family: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--gray-800);
  margin-bottom: var(--s-3);
  margin-top: var(--s-4);
  text-align: left;
  width: var(--s-175);
}
