:root {
  /* Screen sizes */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  /* Colors */
  --black: #000;
  --white: #fff;
  --white-100: #b4b4b4;
  --white-200: #f7fafc;
  --white-300: #2f2f2f;

  --beige: #e1ddd5;
  --hunter: #233933;


  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #ECEAE8;
  --gray-500: #cbd5e0;
  --gray-600: #718096;
  --gray-700: #4a5569;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --gray-1000: #212121;
  --gray-1100: #2f2f2f;

  --red-100: #f59a89;
  --red-300: #ffe9e5;
  --red-500: #ed3615;
  --red-900: #ca2d10;

  --brown-100: #f5f2ed;
  --brown-300: #e2caa5;
  --brown-500: #d1b398;
  --brown-900: #a36731;

  --olive-200: #c3cec4;
  --olive-300: #dee4df;
  --olive-400: #889e8a;
  --olive-500: #3e704b;
  --olive-600: #2a5e38;
  --olive-800: #264136;
  --olive-900: #233933;

  --green-100: #CCFFCC;
  --green-400: #c7d6b9;
  --green-500: #4ca817;
  --green-700: #2f6f0a;
  --green-900: #557a5f;

  --yellow-100: #fffae2;
  --yellow-500: #fad44e;
  --yellow-600: #edc94a;

  --orange-500: #ffbb52;

  --credovaBlue: #243547;

  --bg-1: #4b514d;
  --bg-2: #222720;
  --bg-3: #1a1a1a;
  --bg-4: #fffdf7;

  --brand: var(--green-900);

  /* Typography */
  --font-base: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-headings: "Playfair Display", serif;
  --font-extra-light: 100;
  --font-light: 500;
  --font-medium: 600;
  --font-bold: 700;
  --font-bolder: 800;
  --font-color: var(--gray-900);

  --text-xxs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 4rem; /* 64px */
  --text-7xl: 5rem; /* 80px */

  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  --typography-base: {
    font-size: var(--text-base);
    font-family: var(--font-base);
    font-weight: normal;
    line-height: var(--line-height-normal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
  }

  --typography-heading-base: {
    color: var(--gray-900);
  }

  --typography-heading: {
    font-family: var(--font-headings);
  }

  --typography-heading-sans-serif: {
    font-family: var(--font-base);
  }

  --typography-heading-size-xl: {
    font-size: var(--text-base);

    @media (--screen-md) {
      font-size: var(--text-lg);
    }
  }

  --typography-heading-size-2xl: {
    font-size: var(--text-lg);

    @media (--screen-md) {
      font-size: var(--text-2xl);
    }
  }

  --typography-heading-size-3xl: {
    font-size: var(--text-2xl);

    @media (--screen-md) {
      font-size: var(--text-3xl);
    }
  }

  --typography-heading-size-4xl: {
    font-size: var(--text-2xl);

    @media (--screen-md) {
      font-size: var(--text-4xl);
    }
  }

  /* Spacing */
  --s-1: 0.25rem; /* 4px */
  --s-2: 0.5rem; /* 8px */
  --s-3: 0.75rem; /* 12px */
  --s-4: 1rem; /* 16px */
  --s-5: 1.25rem; /* 20px */
  --s-6: 1.5rem; /* 24px */
  --s-7: 1.75rem; /* 28px */
  --s-8: 2rem; /* 32px */
  --s-9: 2.25rem; /* 36px */
  --s-10: 2.5rem; /* 40px */
  --s-11: 2.75rem; /* 44px */
  --s-12: 3rem; /* 48px */
  --s-13: 3.25rem; /* 52px */
  --s-14: 3.5rem; /* 56 */
  --s-15: 3.75rem; /* 60 */
  --s-16: 4rem; /* 64px */
  --s-17: 4.25rem; /* 68px */
  --s-18: 4.5rem; /* 72px */
  --s-19: 4.75rem; /* 76px */
  --s-20: 5rem; /* 80px */
  --s-21: 5.25rem; /* 84px */
  --s-22: 5.5rem; /* 88px */
  --s-23: 5.75rem; /* 92px */
  --s-24: 6rem; /* 96px */
  --s-25: 6.25rem; /* 100px */
  --s-26: 6.5rem; /* 104px */
  --s-27: 6.75rem; /* 108px */
  --s-28: 7rem; /* 112px */
  --s-29: 7.25rem; /* 116px */
  --s-30: 7.5rem; /* 120px */
  --s-31: 7.75rem; /* 124px */
  --s-32: 8rem; /* 128px */
  --s-34: 8.5rem; /* 136px */
  --s-36: 9rem; /* 144px */
  --s-37: 9.25rem; /* 148px */
  --s-38: 9.5rem; /* 152px */
  --s-40: 10rem; /* 160px */
  --s-42: 10.5rem; /* 168px */
  --s-44: 11rem; /* 176px */
  --s-46: 11.5rem; /* 184px */
  --s-48: 12rem; /* 192px */
  --s-50: 13rem; /* 200px */
  --s-54: 13.5rem; /* 216px */
  --s-56: 14rem; /* 224px */
  --s-58: 14.5rem; /* 232px */
  --s-60: 15rem; /* 240px */
  --s-62: 15.5rem; /* 248px */
  --s-64: 16rem; /* 256px */
  --s-65: 16.25rem; /* 260px */
  --s-67: 16.75rem; /* 268px */
  --s-72: 18rem; /* 288px */
  --s-73: 18.25rem; /* 292px */
  --s-75: 18.75rem; /* 300px */
  --s-76: 19rem; /* 306px */
  --s-80: 20rem; /* 320px */
  --s-84: 21rem; /* 336px */
  --s-88: 22rem; /* 352px */
  --s-93: 23.25rem; /* 372px */
  --s-95: 23.75rem; /* 380px */
  --s-96: 24rem; /* 384px */
  --s-97: 24.25rem; /* 390px */
  --s-100: 25rem; /*400px */
  --s-103: 25.75rem; /*412px */
  --s-108: 27rem; /* 432px */
  --s-112: 28rem; /* 448px */
  --s-115: 28.75rem; /* 460px */
  --s-120: 30rem; /* 480px */
  --s-126: 31.5rem; /* 504px */
  --s-127: 31.75rem; /* 508px */
  --s-140: 35rem; /* 560px */
  --s-142: 35.5rem; /* 568px */
  --s-147: 37.5rem; /* 600px */
  --s-151: 37.75rem; /* 604px */
  --s-152: 38rem; /* 608px */
  --s-160: 40rem; /* 640px */
  --s-165: 41.5rem; /* 664px */
  --s-175: 43.75rem; /* 700px */
  --s-187: 46.75rem; /* 748px */
  --s-230: 50rem; /* 800px */
  --s-275: 55rem; /* 880px */
  --s-285: 57rem; /* 912px */
  --s-320: 80rem; /* 1280px */

  /* Widths */
  --w-1-2: 50%;
  --w-1-3: 33.333333%;
  --w-2-3: 66.666667%;
  --w-1-5: 20%;
  --w-1-4: 25%;
  --w-2-4: 50%;
  --w-2-5: 40%;
  --w-3-4: 75%;
  --w-3-5: 60%;
  --w-4-5: 80%;

  /* Box Shadow */
  --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-xxl: 0 20px 40px 0 rgba(0, 0, 0, 0.3);

  /* Opacity */
  --o-0: 0;
  --o-25: 0.25;
  --o-50: 0.5;
  --o-75: 0.75;
  --o-100: 1;

  /* Z-index */
  --z-0: 0;
  --z-10: 10;
  --z-15: 15;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;
  --z-200: 200;

  /* Border radius */
  --border-radius: 5px;
  --border-radius-xl: 10px;
  --border-radius-xxl: 20px;
  --border-radius-xxxl: 25px;
  --border-radius-4xl: 30px;
  --border-radius-5xl: 35px;

  /* Transitions */
  --transition-base: ease-in 0.2s;
  --transition-fast: ease-in-out 0.1s;
}

body {
  margin: 0; /* Remove the default margin */
}

@custom-media --screen-sm (min-width: 640px);
@custom-media --screen-md (min-width: 768px);
@custom-media --screen-lg (min-width: 1024px);
@custom-media --screen-xl (min-width: 1280px);
