@import "../../index.css";

.pageWrapper {
  margin-left: var(--s-7);
  margin-right: var(--s-7);
}

.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageContainer {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.mobileMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
  font-size: var(--text-lg);
  color: var(--gray-900);
  font-weight: var(--font-medium);
  margin-top: var(--s-50);

  @media (min-width: 1024px) {
    display: none;
  }
}
